<!DOCTYPE html>
<html lang="en">

<head>
   
    <title>Home Page</title>

</head>

<body>
    <h2>Login Page..!!</h2>
	<div th:if="${error}">
		<h3 style=color:red; th:text="${error}"></h3>
	</div>
    
	<form th:action="@{/teacherloginform}" th:object="${teacher}" method="post">
		Enter E-Mail Id :- <input type="text" th:field="*{username}" required><br><br>
		password :- <input type="password" th:field="*{password}" required><br><br>
		<input type="submit" value="submit">
		<input type="reset" value="cancel">
	</form>
</body>

</html>