<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>register</title>
</head>

<body>
	<h2>registerteacher</h2>
	
	<div th:if="${success}">
		<h3 style=color:aqua th:text="${success}"></h3>
	</div>
	
	<div th:if="${error}">
			<h3 style=color:red th:text="${error}"></h3>
		</div>
	<form th:action="@{'/registerteacher'}" th:object=${teacher} method="post">
		<!--
		User id:-<input type="text" th:field="*{id}" required><br><br>
		Name:-<input type="text" th:field="*{name}" required><br><br>
		User Name:-<input type="text" th:field="*{username}" required><br><br>
		Password:-<input type="password" name="password" th:field="*{password}" required><br><br>

		
		<input type="submit" value="Submit">
		<input type="reset" value="Cancel">
	-->
	
	<div class="form-group">
	                    <label for="full-name">Student Full Name</label>
	                    <input type="text" id="full-name" th:field="*{name}" placeholder="Write your full name" required>
	                </div>
					<div class="form-group">
	                    <label for="username">Student User Name</label>
	                    <input type="text" id="username" th:field="*{username}" placeholder="username" required>
	                </div>
					<div class="form-group">
	                    <label for="id">Student Id</label>
	                    <input type="password" id="id" th:field="*{id}" required>
	                </div>
	                <div class="form-group">
	                    <label for="email">Email Address</label>
	                    <input type="email" id="email" th:field="*{email}" placeholder="Format:name@example.com" required>
	                </div>
	                <div class="form-group">
	                    <label for="dob">Date of Birth</label>
	                    <input type="date" id="dob" th:field="*{dob}" required>
	                </div>
					<div class="form-group">
	                    <label for="contact">Student Contact</label>
	                    <input type="number" id="contact" th:field="*{contact}" placeholder="0123456789" required>
	                </div>
					<div class="form-group">
		                    <label for="address">Address</label>
		                    <input type="password" id="address" th:field="*{address}" required>
		                </div>
						<div class="form-group">
						                    <label for="course">Stream of Study</label>
						                    <select id="course" th:field="*{field}">
						                        <option value="computer-science">Computer Science</option>
						                        <option value="Information-Technology">Information-Technology</option>
						                        <option value="Electrical">Electrical</option>
						                        <option value="Electronics And Communication">Electronics And Communication</option>
						                    </select>
						                </div>	
	                <div class="form-group">
	                    <label for="password">Password</label>
	                    <input type="password" id="password" th:field="*{password}" placeholder="Enter Password" required>
	                </div>
	                <div class="form-group">
	                    <label for="confirm-password">Confirm Password</label>
	                    <input type="password" id="confirm-password" th:field="*{conformpassword}" placeholder="Re-enter Password" required>
	                </div>
	               
	                <button type="submit" class="register-button">Register</button>
					
					
	</form>
	
</body>
</html>